/* Home */
/* Font Attributes */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Resetting All the Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overall Settings */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

i {
  margin-right: 5px;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: white;
}

.bg-light {
    background: #f4f4f4;
    color: #052340;
}

.bg-dark {
    background: #052340;
    color: #fff;
}

.bg-primary {
    background: white;
    color: white;
}

.clr {
    clear: boths;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.btn {
    display: inline-block;
    color: #052340;
    background: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: rgb(184, 184, 184);
}

.btn-dark {
    background: #052340;
    color: white;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
}

/* Navbar Settings */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    color: white;

    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

/* Navbar List Settings */
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

/* Navbar List Item Settings */
#navbar ul li a {
    color: #052340;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: lightgray;
    border-radius: 5px;
}

/* Logo Attributes */
#logo {
    height: 50px;
}

/* Showcase Attributes */
#showcase {
    background: #333 url('../img/HBCShowcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
    display: flex;
    /* Flex default is row */
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    /* Overlay */
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.small {
    font-size: 0.5rem;
    margin-bottom: 2rem;
}

/* Who Are We Attributes */
#about-info {
    display: flex;
    height: 500px;
}

#about-info div {
    flex: 1;
    margin: 2rem;
    padding: 2rem;
}

#about-info .who-img {
    background: url('../img/HBCFashion.jpg')
    no-repeat center center/cover;
    align-items: center;
    justify-content: center;
}

/* Our Mission Attributes */
#mission {
    height: 600px;
    background: url('../img/HBCBook.jpg');
}

#mission h2 {
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

#mission .paragraph {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    opacity: 0.9;
    text-align: center;
}

.text {
    margin-bottom: 4rem;
}

/* Follow Us Attributes */
#follow .items {
    display: flex;
}

#follow .items img {
    display: block;
    margin: auto;
    width: 60%;
}

.size {
    width: 100%;
}

/* About */
  .about-showcase {
    background:black url("../img/HBCAbout.jpg") 
    no-repeat center center/cover;
    color: white;
  }
  .about-showcase-content {
    display: flex;
    height: 500px;
    padding: 0 2rem;
  }


/* Contact */

#contact {
  background: #fff;
}
 

#contact {
  background: #fff;
}

#contact .contact-heading {
  color: white;
  display:flex;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  color: #052340;
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.7rem;
  align-items: center;
}

#contact .contact-form label {
  display: flex;
  flex-direction: none;
  flex: 1;
  color: #052340;
}

#contact .contact-form textarea {
  resize: none;
}

#contact .contact-form input,  #contact .contact-form textarea {
  width: 100%;
  padding: 1.2rem;
}

#contact .gap {
  padding-top: 0;
  background: #052340;
  height: 5px;
  margin-bottom: 10px;
}


/* Donation */
  .text {
    color: #052340;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container2 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 70%;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  .cc {
    width: 60%;
  }

  .ps-1 {
    padding: 1rem;
  }