.about {
    margin: 8vh 10vw 0 10vw;
    width: 40vw;
    text-align: center;
    align-items: center;
}

.about--content {
    width: 25vw;

    position: relative;
    text-align: center;
    align-items: center;
    z-index: 2;
}

.about--name, .about--title, .about--text-1, .about--text-2 {
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #E3D2E3 0%, #C89EC6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.about--name {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;

    margin-top: 23vh;
    margin-bottom: 1vh;
}

.about--title {
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;

    margin-bottom: 3vh;
}

.about--text-1, .about--text-2 {
    font-size: 18px;
    line-height: 23px;
}

.about--text-2 {
    margin-bottom: 2vh;
}

.about--logo {
    height: calc(100vh - 120px);
    max-height: 800px;
    max-width: 600px;

    right: 20vw;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

@media (max-height: 650px) {
    .about--text-1, .about--text-2, .about--logo {
        display: none;
    }

    .about--content {
        width: 100%;
    }
}

@media (max-height: 300px) {
    .about--title {
        display: none;
    }
}