
.nav {
    width: 60vw;
    height: 12vh;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 50;
}

.navbar--inside {
    display: flex;
    flex-direction: row;

    margin: 15px;
    padding: 10px;

    justify-content: space-between;
    align-items: center;
}

.navbar--text {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin: 0 3vw 0 3vw;

    background: linear-gradient(180deg, #E3D2E3 0%, #C89EC6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar--logo {
    height: 100px;
    width: 100px;

    object-fit: cover;

    border: 3px solid #C89EC6;
    border-radius: 50%;
}

.navbar--logo:hover {
    opacity: .5;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.active {
    text-decoration: none !important;
}

.navbar--text:hover, .active, .navbar--text:active {
    background: linear-gradient(180deg, #cfabcf 0%, #9c689a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 650px) {
    .navbar--inside {
        padding: 0;
        margin-top: 20px !important;
        margin: 0;
    }

    .navbar--logo {
        height: 70px;
        width: 70px;
    }
}