.modal {
    z-index: 30;
    display: flex;
    flex-direction: column;

    text-align: center;
    position: absolute;
    left: 25vw;
    background-color: #3b3b3bf3;
    text-align: center;
    min-width: 536px;
    width: 50vw;
    height: 78vh;

    border-left: 2px rgba(224, 224, 224, 0.8) solid;
    border-right: 2px rgba(224, 224, 224, 0.8) solid;
}

.bkmodal {
    z-index: 20;
    position: absolute;
    top: 12vh;
    left: 0vw;
    height: 78vh;
    width: 100vw;
    background-color: #3b3b3ba8;
}

.modal--title {
    margin: 0 auto 0 auto;
    margin-top: 30px;
    border-bottom: 1px white solid;
    margin-bottom: 25px;
    font-size: 25px !important;
    width: 500px;
}

.modal--image {
    margin: 0 auto 0 auto;
    height: 300px;
    width: 500px;
    border: 10px white solid;
    border-radius: 10px;

    margin-bottom: 15px;
}

.modal--desc {
    border-top: 1px white solid;
    margin: 0 auto 0 auto;
    margin-top: 5px;
    width: 500px;
}

.modal--close {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 21.5vw;
}

.modal--close:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

.modal--url:hover {
    color: grey;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .modal {
        left: 0;
        min-width: 100vw;
        width: 100vw;
    }

    .modal--title {
        margin-top: 5px;
        font-size: 20px !important;
        width: 100vw;
    }

    .modal--image {
        width: 100vw;
        height: 40vh;
    }

    .modal--desc {
        width: 100vw;
        height: 30vh !important;
        overflow: auto;
    }

    .modal--url {
        display: none;
    }

    .modal--close {
        position: relative;
        left: 0;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .modal--image {
        height: 30vh;
    }
}