.projectPad{
    min-width: 500px !important;
    width: 500px !important;
    height: 300px;
    border-radius: 20px;
    border: thin solid white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);

    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: grab;
}

.projectPad:hover, .projectPad:active, .projectPad:focus  {
    border: 3px solid white;
}

@media (max-width: 1024px) {
    .projectPad {
        min-width: 96vw !important;
        width: 96vw !important;
        height: 40vh;
        margin: 5px;
    }
}

@media (max-width: 600px) {
    .projectPad {
        height: 30vh;
    }
}