.projectPad{
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border: thin solid white;
    align-items: center;
    
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}