.App {
    background-image: url(./contents/background.png);
    background-color: black;
    background-size: cover;
}

.content-pane {
    height: 100vh;
    width: 60vw;
    margin: auto;

    background: conic-gradient(from 142.6deg at 20.3% -5.66%, rgba(0, 0, 0, 0.5) 0deg, rgba(0, 0, 0, 0.3) 360deg);
}


/* 
    content-invis
    content invisible is a shader that covers content-pane
*/
.content-invis {
    position: absolute;
    height: 100vh;
    width: 60vw;
    margin: auto;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(180.16deg, rgba(0, 0, 0, 0) 51.57%, rgba(0, 0, 0, 0.704) 99.87%);

    display: none;
}

/* 
    nav-invis
    nav invisible preserve the spacing for navbar, since navbar's position is absolute with top 0
    aka navbar won't move even if there's scrolls, it sticks to the top and won't scroll away 
*/
.nav-invis {
    height: 120px;
}

@media (max-width: 1024px) {
    .content-pane, .content-invis, .nav {
        width: 100vw;
    }

    .about {
        margin: auto;
        width: 100vw;
    }

    .about--content{ 
        width: 100vw;
    }

    .about--logo {
        display: none;
    }
}