.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.invisNavbar {
  height: 12vh;
}

.invisFooter {
  height: 10vh;
}

.nav {
  border: 1px black solid;
  height: 10vh;
}