.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #3b3b3b;
}

.invisNavbar {
  height: 12vh;
}

.invisFooter {
  height: 10vh;
}

.nav {
  height: 10vh;
}

.nav-ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}